
{% load static %}

<html>
<head>
    <title>Contact Form</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <a href="{% url 'blog-home' %}" class="home-link">Home</a>
    <form class="contact-form" action="/contact/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>

